<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll logo" href="#page-top">J-1 Rehoboth</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#dinners">Free Dinners</a>
          </li>
          <li>
            <a class="page-scroll" href="#bikes">Bikes</a>
          </li>
          <li>
            <a class="page-scroll" href="#trips">Trips</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="intro" class="intro-section">
    <div class="hero-image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <% @welcome_languages.each do |lang| %>
            <div class="welcome-text"><%= lang %></div>
          <% end %>
          <div class="callout">
            <h4>
              The Mayor of Rehoboth Beach welcomes you to Rehoboth and would like you to join him for a free lunch on 
              <strong>June 11 at City Hall</strong>.
              <br/>
              <a href="mailto:j1rehoboth@gmail.com?Subject=Meet%20The%20Mayor" target="_top">Send us an Email if you are interested</a>
            </h4>
          </div>
          <section class="slideshow">
            <div class="slides">
              <% for i in 1..5 do %>
                <div class="slide">
                  <img src="Students<%=i%>.jpg"/>
                </div>
              <% end %>
            </div>
          </section>
          <div class="main-text">
            <p>
              <strong>THANK YOU</strong> for choosing Rehoboth Beach area for your work/travel program. You are sure to have an experience of a lifetime.
              <br/>
              <br/>
              To enhance your visit and to make your stay as enjoyable as possible, please give us your name and email address so we can contact you about upcoming events and any schedule changes.
              <br/>
              <br/>
              By sending us your name and email, you will be automatically entered in a drawing to win a $50 gift certificate to use at some of the many shops and restaurants in Rehoboth.
              We'll let you know when the drawing takes place, and who the lucky winner is!
              <br/>
              <br/>
              This website will give you information about the International Student Outreach Program, which provides free dinners every Monday through Thursday,
              free bicycles to use this summer (until we run out of bikes) and exciting trips planned just for you!
              <br/>
              <a href="https://www.beach-fun.com/site-index/57-international-student-outreach-program.html" target="_blank">Click here</a>
              for the Rehoboth Chamber of Commerce website for helpful information for your visit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="dinners" class="dinner-section">
    <h1>Free Dinners</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th style="width: 3%;">Friday</th>
          <th style="width: 3%;">Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr>
          <td>
            <p>6:00 - 7:30 PM</p>
            <p>New Covenant Church</br>
            3072 Savannah E Dr </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=3072 Savannah E Dr, Lewes, DE&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 644 - 6800</p>
            <p>(June 1 - Aug 31)</p>
          </td>
          <td>
            <p>5:30 - 7:30 PM</p>
            <p>Epworth United Methodist Church</br>
            19285 Holland Glade Road </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 7743</p>
            <p>(May 26 - Sept 8)</p>
          </td>
          <td>
            <p>6:00 - 7:30 PM </p>
            <p>St. Edmond’s Catholic Church</br>
            409 King Charles Ave</br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=409 King Charles Ave, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 4550</p>
            <p>(May 27 - Aug 26)</p>
          </td>
          <td>
            <p>6:00 - 7:30 PM</p>
            <p>Lutheran Church of our Savior</br>
            20276 Bay Vista Rd </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 3066</p>
            <p>(May 28 - Sept 3)</p>
          </td>
          <td></td>
          <td></td>
          <td>
            <p>SOUP 2:00 - 4:00 PM</p>
            <p>Epworth United Methodist Church</br>
            19285 Holland Glade Road </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 7743</p>
            <p>(May 26 - Sept 8)</p>
          </td>
        </tr>
      </table>
    </div>
    <div id="map" style="width: 100%; height: 70%; position: absolute;">
       <div id="map-canvas"></div>
    </div>
  </div>

  <section id="bikes" class="bike-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Bike Request Form Section</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="trips" class="trip-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Trip Section</h1>
        </div>
      </div>
    </div>
  </section>
</body>
