<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll logo" href="#page-top">J-1 Rehoboth</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#housing">Housing</a>
          </li>
          <li>
            <a class="page-scroll" href="#orientation">Orientation</a>
          </li>
          <%# <li> %>
            <%# <a class="page-scroll" href="#dinners">Free Dinners</a> %>
          <%# </li> %>
          <li>
            <a class="page-scroll" href="#transportation">Transportation</a>
          </li>
          <%# <li> %>
            <%# <a class="page-scroll" href="#trips">Trips</a> %>
          <%# </li> %>
          <%# <li> %>
            <%# <a class="page-scroll" href="#lunches">Free Lunches</a> %>
          <%# </li> %>
          <%# <li> %>
            <%# <a class="page-scroll" href="#events">Events</a> %>
          <%# </li> %>
          <li>
            <a class="page-scroll" href="#bikes">Bikes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="intro" class="intro-section">
    <%# <div class="hero-image"> %>
    <%# </div> %>
    <div class="container">
      <div class="col-lg-12">
        <img class='isop_logo' src='isop_logo.jpg'/>
        <br/>
        <% @welcome_languages.each do |lang| %>
          <div class="welcome-text"><%= lang %></div>
        <% end %>
        <%# <div class='youtube-wrapper'> %>
          <%# <iframe class='youtube' src="https://www.youtube.com/embed/8STc1MHlSDk"></iframe> %>
        <%# </div> %>
        <%# <div class="callout"> %>
          <%# <h4> %>
            <%# The Mayor of Rehoboth Beach welcomes you to Rehoboth and would like you to join him for a free lunch on  %>
            <%# <strong>June 11 at City Hall</strong>. %>
            <%# <br/> %>
            <%# <a href="mailto:j1rehoboth@gmail.com?Subject=Meet%20The%20Mayor" target="_top">Click here to send us an Email if you are interested</a> %>
          <%# </h4> %>
        <%# </div> %>
        <%# <section class="slideshow"> %>
          <%# <div class="slides"> %>
            <%# <% for i in 1..5 do %>
              <%# % > %>
              <%# <div class="slide"> %>
                <%# <img src="Students<%=i%>
          <%# .jpg"/> %>
              <%# </div> %>
            <%# <% end %>
          <%# </div> %>
        <%# </section> %>
        <div class="main-text">
          </br>
          <a href="https://www.instagram.com/j1rehoboth/" target="_blank">
            <img border="0" alt="Follow us on Instagram" src="/InstagramLogo.png" width="70" height="70">
            <p>
              Follow us on Instagram
            </p>
          </a>
          </br>
          <p>
          <strong>THANK YOU</strong> for choosing Rehoboth Beach area for your work/travel program.
            </br>
            You are sure to have an experience of a lifetime.
            </br>
            <%# <form class="form-inline" action="/newsletter" method="POST"> %>
              <%# <div class="form-group"> %>
                <%# <label for="name">Name</label> %>
                <%# <input type="text" class="form-control" id="name" name="name" placeholder="John Smith"> %>
              <%# </div> %>
              <%# <div class="form-group"> %>
                <%# <label for="email">Email</label> %>
                <%# <input type="email" class="form-control" id="email" name="email" placeholder="john.smith@gmail.com"> %>
              <%# </div> %>
              <%# <button type="submit" class="btn btn-default">Submit</button> %>
            <%# </form> %>
            <br/>
The bike program offered by the Delaware Department of Transportation will offer many free bikes and free repairs to students this summer. Please request a bike by filling out the form after viewing the safety video. You will be contacted via email to schedule your bike pick up. If DelDOT runs out of bikes, you will get an email telling you there are no more bikes.
            <br/>
            <br/>
            <span style='color: red'>We are very sorry that our volunteers will not be able to provide you with free dinners, bus trips or assistance this summer. We were hoping the pandemic would be completely under control by summer 2021 but that is unlikely.</span>
            <%# The Delaware Department of Transportation has a limited number of free bicycles to give to students  who take the two-hour bicycle safety training session. %>
            <%# <br/> %>
            <%# <br/> %>
            <%# Fill out and submit the request form by <a href="#bikes">clicking here</a>. %>
          <div class='youtube-wrapper'>
            <iframe class='youtube' src="https://www.youtube.com/embed/aICYupEPiOY"></iframe>
          </div>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane active" id="request">
          </br>
          <p class='main-text'>Please watch the above safety video then complete this registration/bike request form and submit. </p>
          </br>
          <form class="form-horizontal" id="request-form" action="/bike_request" method="post" data-toggle='validator'>
            <div class="form-group">
              <label for="first_name" class="col-sm-1 control-label" required>First</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="first_name" placeholder="John" tabIndex="1">
              </div>
              <label for="last_name" class="col-sm-2 control-label">Last</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="last_name" placeholder="Smith" tabIndex="2">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-1 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" placeholder="john.smith@gmail.com" tabIndex="3">
              </div>
            </div>
            <div class="form-group">
              <label for="arrival_date" class="col-sm-1 control-label">Arrival</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="arrival_date" placeholder="June 1, 2018" tabIndex="4">
              </div>
            </div>
            <div class="form-group">
              <label for="employer" class="col-sm-1 control-label">Employer</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="employer" placeholder="Cold Stone Creamery" tabIndex="7">
              </div>
            </div>
            <%# <div class="form-group"> %>
              <%# <label for="country" class="col-sm-1 control-label">Address</label> %>
              <%# <div class="col-sm-10"> %>
                <%# <input type="text" class="form-control" name="address" placeholder="Your local address in Rehoboth, not your work address" tabIndex="5" required> %>
              <%# </div> %>
            <%# </div> %>
            <div class="form-group">
              <label for="country" class="col-sm-1 control-label">Country</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="country" placeholder="Your home country" tabIndex="5">
              </div>
            </div>
            <div class="form-group">
              <label for="sponsor" class="col-sm-1 control-label">Sponsor</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="sponsor" placeholder="Your sponsor organization" tabIndex="5">
              </div>
            </div>
              <%# <label for="needs_bike" class="col-sm-2 control-label">Do you need a bike?</label> %>
              <%# <div class="col-sm-4"> %>
                <%# <input type="text" class="form-control" name="needs_bike" placeholder="Yes/No" tabIndex="5"> %>
              <%# </div> %>
            <%# <div class="form-group"> %>
              <%# <label for="received_bike" class="col-sm-1 control-label">Have you received a bike from us before?</label> %>
              <%# <div class="col-sm-10"> %>
                <%# <input type="text" class="form-control" name="received_bike" placeholder="Yes/No" tabIndex="5"> %>
              <%# </div> %>
            <%# </div> %>
            <div class="form-group">
              <label for="gender" class="col-sm-1 control-label">Gender</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="gender" placeholder="Male/Female" tabIndex="5">
              </div>
              <label for="height" class="col-sm-2 control-label">Height</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="height" placeholder="172cm" tabIndex="5">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-default" tabIndex="9">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="housing" class="housing-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
          <h1 class="text-center">Housing</h1>
          </br>
          <p>
            Rehoboth Beach, Dewey Beach and Lewes are very popular vacation destinations. Because of this, affordable, convenient housing is extremely difficult to find.  You must arrange your housing before arriving in the U.S.  Do not plan to find housing once you arrive.
            </br>
            </br>
            Your sponsor organization will require you to give them your Rehoboth area address before you leave your home country. Ask your sponsor for housing help, ask your employer for help, check Facebook Work and Travel Rehoboth groups, check craigslist.com, the local paper (Cape Gazette) or contact a realtor.
            </br>
            </br>
            Beware of housing scams. Check with your sponsor about housing you find on your own. Also, Bethany is 20 km from Rehoboth and you cannot live there and work here.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="orientation" class="orientation-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <h1 class="text-center">Orientation</h1>
          </br>
          <div class='youtube-wrapper'>
            <iframe class='youtube' src="https://www.youtube.com/embed/gd_3G3eug5k"></iframe>
          </div>
          <div class='youtube-wrapper'>
            <iframe class='youtube' src="https://www.youtube.com/embed/R2nyTiLs_0c"></iframe>
          </div>
          <%# <div class='youtube-wrapper'> %>
            <%# <iframe class='youtube' src="https://www.youtube.com/embed/7WellB0XuWw"></iframe> %>
          <%# </div> %>
          <%# <p> %>
            <%# You are invited and encouraged to attend one of the Orientation and Welcome sessions as soon as you arrive in the Rehoboth area, preferably before you start working. There will be three orientations - please attend the one closest to your arrival date. %>
            <%# </br> %>
            <%# </br> %>
            <%# <b>Orientations will be from 11:00 AM – 1:00 PM</b></br></br> Please indicate which orientation you will be attending by filling in the form below the chosen date and clicking 'Sign Up'. The session will include information about transportation, personal safety, banking, applying for your social security card, exciting trips and cultural events planned for you, and important information you'll need during your stay. %>
            <%# <br/> %>
            <%# <br/> %>
            <%# If there is enough interest, we will try to arrange a bus to the Social Security Office after Orientations. The cost would be $10 for the round trip. <b>If you are interested in this, click “Yes” on the sign up form.</b> %>
            <%# <br/> %>
            <%# You must have already registered with SEVIS before going to Social Security. %>
            <%# <br/> %>
            <%# <br/> %>
            <%# At orientation you will receive: %>
            <%# <div>- A free lunch -</div> %>
            <%# <div>- A free backpack filled with information and goodies -</div> %>
            <%# <div>- Information about biking, trips, free dinners, and more -</div> %>
            <%# <div>- The chance to meet other students! -</div> %>
          <%# </p> %>
        <%# </div> %>
      <%# </div> %>
      <%# <div class="table-responsive"> %>
        <%# <table class="table"> %>
          <%# <tr> %>
            <%# <th class="text-center"> %>
              <%# <h3>Thursday, May 31</h3> %>
              <%# <form action="/orientation?form=1" method="POST"> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Name</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="name" placeholder="First/Last Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Sponsor</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="sponsor" placeholder="Sponsor's Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Email</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="email" placeholder="Email" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="col-sm-12"> %>
                  <%# Ride to Social Security? %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="yes">Yes %>
                  <%# </label> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="no">No %>
                  <%# </label> %>

                <%# </div> %>
                <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
              <%# </form> %>
            <%# </th> %>
            <%# <th class="text-center"> %>
              <%# <h3>Friday, June 15</h3> %>
              <%# <form action="/orientation?form=2" method="POST"> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Name</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="name" placeholder="First/Last Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Sponsor</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="sponsor" placeholder="Sponsor's Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Email</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="email" placeholder="Email" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="col-sm-12"> %>
                  <%# Ride to Social Security? %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="yes">Yes %>
                  <%# </label> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="no">No %>
                  <%# </label> %>

                <%# </div> %>
                <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
              <%# </form> %>
            <%# </th> %>
            <%# <th class="text-center"> %>
              <%# <h3>Thursday, June 28</h3> %>
              <%# <form action="/orientation?form=3" method="POST"> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Name</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="name" placeholder="First/Last Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Sponsor</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="sponsor" placeholder="Sponsor's Name" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label for="name" class="col-sm-4 control-label">Email</label> %>
                  <%# <div class="col-sm-8"> %>
                    <%# <input type="text" class="form-control" name="email" placeholder="Email" required> %>
                  <%# </div> %>
                <%# </div> %>
                <%# <div class="col-sm-12"> %>
                  <%# Ride to Social Security? %>
                <%# </div> %>
                <%# <div class="form-group"> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="yes">Yes %>
                  <%# </label> %>
                  <%# <label class="radio-inline"> %>
                    <%# <input type="radio" name="ride" value="no">No %>
                  <%# </label> %>

                <%# </div> %>
                <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
              <%# </form> %>
            <%# </th> %>
          <%# </tr> %>
          <%# <tr> %>
            <%# <td> %>
              <%# <p>11:00 AM - 1:00 PM</p> %>
              <%# <p>Lutheran Church of our Savior</br> %>
              <%# 20276 Bay Vista Rd </br> %>
              <%# <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
              <%# </p> %>
              <%# <p>(302) 227 - 3066</p> %>
            <%# </td> %>
            <%# <td> %>
              <%# <p>11:00 AM - 1:00 PM</p> %>
              <%# <p>Lutheran Church of our Savior</br> %>
              <%# 20276 Bay Vista Rd </br> %>
              <%# <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
              <%# </p> %>
              <%# <p>(302) 227 - 3066</p> %>
            <%# </td> %>
            <%# <td> %>
              <%# <p>11:00 AM - 1:00 PM</p> %>
              <%# <p>Lutheran Church of our Savior</br> %>
              <%# 20276 Bay Vista Rd </br> %>
              <%# <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
              <%# </p> %>
              <%# <p>(302) 227 - 3066</p> %>
            <%# </td> %>
          <%# </tr> %>
        <%# </table> %>
        </div>
      </div>
    </div>
  </section>

  <%# <div id="dinners" class="dinner-section"> %>
    <%# <h1>Free Dinners</h1> %>
    <%# <div class="table-responsive"> %>
      <%# <table class="table table-bordered"> %>
        <%# <tr> %>
          <%# <th>Monday</th> %>
          <%# <th>Tuesday</th> %>
          <%# <th>Wednesday</th> %>
          <%# <th>Thursday</th> %>
          <%# <th style="width: 3%;">Friday</th> %>
          <%# <th style="width: 3%;">Saturday</th> %>
          <%# <th>Sunday</th> %>
        <%# </tr> %>
        <%# <tr> %>
          <%# <td> %>
            <%# <p>6:00 - 8:00 PM</p> %>
            <%# <p>New Covenant Church</br> %>
            <%# 3072 Savannah E Dr </br> %>
            <%# <a target="_blank" href="https://maps.google.com/maps?daddr=3072 Savannah E Dr, Lewes, DE&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
            <%# </p> %>
            <%# <p>(302) 644 - 6800</p> %>
            <%# <p>(May 27 - Sept 9)</p> %>
          <%# </td> %>
          <%# <td> %>
            <%# <p>5:30 - 7:30 PM</p> %>
            <%# <p>Epworth United Methodist Church</br> %>
            <%# 19285 Holland Glade Road </br> %>
            <%# <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
            <%# </p> %>
            <%# <p>(302) 227 - 7743</p> %>
            <%# <p>(May 28 - Sept 3)</p> %>
          <%# </td> %>
          <%# <td> %>
            <%# <p>5:30 - 7:30 PM </p> %>
            <%# <p>St. Edmond’s Catholic Church</br> %>
            <%# 409 King Charles Ave</br> %>
            <%# <a target="_blank" href="https://maps.google.com/maps?daddr=409 King Charles Ave, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
            <%# </p> %>
            <%# <p>(302) 227 - 4550</p> %>
            <%# <p>(May 29 - Aug 28)</p> %>
          <%# </td> %>
          <%# <td> %>
            <%# <p>5:30 - 7:30 PM</p> %>
            <%# <p>Lutheran Church of our Savior</br> %>
            <%# 20276 Bay Vista Rd </br> %>
            <%# <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
            <%# </p> %>
            <%# <p>(302) 227 - 3066</p> %>
            <%# <p>(May 30 - Aug 29)</br> %>
            <%# No Dinner July 4 %>
            <%# </p> %>
          <%# </td> %>
          <%# <td></td> %>
          <%# <td></td> %>
          <%# <td> %>
            <%# <p>SOUP 2:00 - 4:00 PM</p> %>
            <%# <p>Epworth United Methodist Church</br> %>
            <%# 19285 Holland Glade Road </br> %>
            <%# <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a> %>
            <%# </p> %>
            <%# <p>(302) 227 - 7743</p> %>
            <%# <p>(Open All Year)</p> %>
          <%# </td> %>
        <%# </tr> %>
      <%# </table> %>
    <%# </div> %>
    <%# <div id="map" style="width: 100%; height: 70%; max-height: 713px; position: absolute;"> %>
       <%# <div id="map-canvas"></div> %>
    <%# </div> %>
  <%# </div> %>

  <%# <div id="take_home" class="take_home-section"> %>
    <%# <div class="container"> %>
      <%# <div class="row"> %>
        <%# <div class="col-xs-12 col-md-10 col-md-offset-1"> %>
          <%# <h1 class="text-center">Take a Student Home for Dinner</h1> %>
          <%# <img src='friends.jpg'/> %>
          <%# <h2>J-1 Students</h2> %>
          <%# <p>If you would like to be invited to dinner at the home of local residents, we have residents who would like to host you. You can bring along a friend or two, just tell us your name and the name of the person(s) you will be bringing with you. Please sign up with your name, home country, and email and we will match you with a resident who would like to invite you to dinner.</p> %>
          <%# <form class="form-inline" action="/take_home_student" method="post"> %>
            <%# <label for="name">Name</label> %>
            <%# <input type="text" class="form-control" name="name" placeholder="John Smith"> %>
            <%# <label for="country">Home County</label> %>
            <%# <input type="text" class="form-control" name="country" placeholder="Estonia"> %>
            <%# <label for="email">Email</label> %>
            <%# <input type="email" class="form-control" name="email" placeholder="john.smith@gmail.com"> %>
            <%# </br> %>
            <%# <label for="friend_1">Friend's Name</label> %>
            <%# <input type="text" class="form-control" name="friend_1" placeholder="James Jones"> %>
            <%# <label for="friend_2">Friend's Name</label> %>
            <%# <input type="text" class="form-control" name="friend_2" placeholder="Nick Peters"> %>
            <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
          <%# </form> %>
          <%# </br> %>
          <%# <h2>Residents of Rehoboth, Dewey and Lewes</h2> %>
          <%# <p>If you would like to host a J1 Visa student and a friend or two for dinner at your home, please sign up with your name and email. We will then forward you the name and email of a student and you can make arrangements with the student for dinner.</p> %>
          <%# <form class="form-inline" action="/take_home_resident" method="POST"> %>
            <%# <label for="name">Name</label> %>
            <%# <input type="name" class="form-control" id="name" name="name" placeholder="John Smith"> %>
            <%# <label for="email">Email</label> %>
            <%# <input type="email" class="form-control" id="email" name="email" placeholder="john.smith@gmail.com"> %>
            <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
          <%# </form> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>

  <div id="transportation" class="transportation-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h1 class="text-center">Transportation from the Airport to Rehoboth</h1>
          <h4>Each of these companies provides shuttle service from the airports to Rehoboth.</h4>
          <h4>Contact them to make arrangements.</h4>
          </br>
          <div>
            <h4>
              BG Island:
              <a href='http://bgisland.net/Airport-Shuttle' target='_blank'>http://bgisland.net/Airport-Shuttle</a>
            </h4>
          </div>
          </br>
          <div>
            <h4>
              E Point Student Travel Center:
              <a href='http://ocstudentcenter.com/airport-pick/' target='_blank'>http://ocstudentcenter.com/airport-pick/</a>
            </h4>
          </div>
          </br>
          <div>
            <h4>
              Resort Express:
              <a href='http://www.resortexpress.org/' target='_blank'>http://www.resortexpress.org/</a>
            </h4>
          </div>
          <h1 class="text-center">Local Transportation in Rehoboth</h1>
          <h4>
            The DART bus system goes from Lewes to Rehoboth to Dewey and surrounding areas.
            </br>
            Website:
            <a href='https://dartfirststate.com/index.shtml' target='_blank'>https://dartfirststate.com/index.shtml</a>
          </h4>
          <p>
            Click on the tab for Sussex County. Route 206 and 215 will be convenient for most students.
            </br>
            Check the DART website often for updates to their seasonal beach bus service, which has increased hours and service in our area.
            </br>
            The bus is a safe, convenient alternative to biking on Coastal Highway. At this time, we are trying to arrange a reduced fare seasonal bus pass for students.  If we are able to accomplish this, we will contact all sponsors and ask them to share the bus information with you.
            </br>
            Buses have racks on the front for bicycles.
          </p>
        </div>
      </div>
    </div>
  </div>

  <%# <section id="trips" class="trip-section"> %>
    <%# <div class="container"> %>
      <%# <div class="row"> %>
        <%# <div class="col-xs-12 col-md-10 col-md-offset-1"> %>
          <%# <h1 class="text-center"> %>
            <%# International Student Outreach Program </br> %>
            <%# Annual Bus Trips %>
          <%# </h1> %>

          <%# <br/> %>
          <%# <br/> %>
          <%# <strong>Thursday, July 25th and Monday, August 19th to our nation’s capital, Washington, D. C.</strong> %>
          <%# <br/> %>
          <%# <strong>Tuesday, July 9th and Wednesday, August 7th to the historic area in Philadelphia, Pennsylvania.</strong> %>
          <%# <br/> %>
          <%# <br/> %>
          <%# <p>The July 25 trip to DC will coincide with trips to DC by other J1 student groups. Ask your friends who are working on the East Coast if they're going and you can meet up with them!</p> %>
          <%# <br/>These trips provide a wonderful opportunity to learn about our history, visit interesting museums, and see unique architecture both old and new.  Each trip will take about 2 1/2 -3 hours by bus from the K Mart parking lot in Rehoboth to each  destination. <b>Bus will leave K Mart at 7:00 a.m. and return about 9:30 p.m.</b> Each trip will cost $25 and the fee is not refundable. Please set aside these dates in your schedule with your employers so you can get off work and attend these trips. </br><b>Tickets will be on sale at the church dinners and at the DelDOT Bicycle Garage located in the park and ride lot.  See bike tab for directions and hours for the DelDOT Bicycle Garage.</b></br> Get your tickets early, as space is limited. We look forward to your participation. </br>If you have questions, email: <a href="mailto:j1rehobothtrips@gmail.com">j1rehobothtrips@gmail.com</a></p> %>

        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="DC.png" alt="Washington, DC"> %>
            <%# <div class="caption"> %>
              <%# <h3>Washington, DC - July 25th and August 19th</h3> %>
              <%# [> <h4 style="color: #68B3AF">August 3rd is SOLD OUT</h4> <] %>
              <%# <h4>Cost: $25</h4> %>
              <%# <h4>Time: 7:00am - 9:30pm</h4> %>
              <%# <p> %>
              <%# On the trip to Washington, D.C, our bus(s) will drop students off at the National Mall.  This will provide an opportunity to walk to several wonderful free museums including: the National Museum of Natural History, the National Museum of American History, the National Air and Space Museum, the Smithsonian American Art Museum, the National Museum of the American Indian, the Hirshorn (Art) Museum, the National Portrait Gallery and American Art Museum.  It is also be possible  to walk near the following buildings and monuments:  the  U. S. Capitol, the Supreme Court, the Lincoln and Jefferson Memorials, and  the Washington Monument.  Public restrooms are available in most facilities and many have cafeterias where you can buy food and drinks.  Note that every public museum has security measures in place and bags and backpacks will be checked. %>
              <%# <br/> %>
              <%# <br/> %>
              <%# Access map below using this <a href="https://www.nps.gov/nama/planyourvisit/upload/NAMAWayfindingMapLarge.pdf" target="_blank">link</a>. %>

              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="Philly.png" alt="Philadelphia"> %>
            <%# <div class="caption"> %>
              <%# <h3>Philadelphia, PA - July 9th and August 7rd</h3> %>
              <%# <h4>Cost: $25</h4> %>
              <%# <h4>Time: 7:00am - 9:30pm</h4> %>
              <%# [> <h4 style="color: #68B3AF">SOLD OUT - 98 students attended</h4> <] %>
              <%# <p> %>
                <%# On the trip to Philadelphia, our bus(s) will drop you off in the Independence National Historical Park.  This is considered the birthplace of our country and America’s most historic square mile.  Places to visit and enjoy include: Independence Hall, the Liberty Bell Center, the President’s House, the Independence Visitor Center, the Free Quaker Meeting House, the National Constitution Center, the Christ Church Burial Ground, the U. S. Mint.  Other places and facilities to enjoy include:  Society Hill and Penn’s Landing, the Franklin Institute, and the Philadelphia Museum of Art. %>
              <%# <br/> %>
              <%# <br/> %>
              <%# Access map below included in brochure using this <a href="http://www.theconstitutional.com/sites/www.theconstitutional.com/files/ConstitutionalFull.pdf" target="_blank">link</a>. %>
              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>

      <%# <div class="row"> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="shorebirds.jpg" alt="Shorebirds"> %>
            <%# <div class="caption"> %>
              <%# <h3>Delmarva Shorebirds - August 8th</h3> %>
              <%# [> <h4 style="color: #68B3AF">August 3rd is SOLD OUT</h4> <] %>
              <%# <h4>Cost: $20</h4> %>
              <%# <h4>Time: 4:30pm - 10:30pm</h4> %>
              <%# <p> %>
                <%# Come to a Shorebirds baseball game! Game begins at 7:00pm. Bus leaves K-Mart parking lot at 4:30pm and returns about 10:30pm. Tickets are available at church dinners. If you can't get to dinner, ask a friend to get a ticket for you. If you have questions, email: mbgilly1@gmail.com %>
              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="dover.png" alt="Dover"> %>
            <%# <div class="caption"> %>
              <%# <h3>Dover Air Mobility Museum - August 15th</h3> %>
              <%# <h4>Cost: $10</h4> %>
              <%# <h4>Time: 9:00am - 3:30pm</h4> %>
              <%# <p> %>
              <%# Visit the Dover Air Mobility Museum. Self tour around and inside many military aircraft dating back to the mid-1900s. Leave K-Mart parking lot at 9:00am and return at 3:30pm. Low cost outing. Email: j1rehobothtrips@gmail.com %>
              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
    <%# </div> %>
  <%# </section> %>


        <%# <div class="col-xs-12 col-sm-6 col-md-4"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="lancaster.jpg" alt="Amish Country, PA"> %>
            <%# <div class="caption"> %>
              <%# <h3>PA Dutch Trip - August 20th</h3> %>
              <%# <h4>Cost: $50</h4> %>
              <%# <h4>Time: 6:00am - 7:30pm</h4> %>
              <%# <p>Details: Meeting at the K-Mart in Rehoboth and leaving at 6:00am. We will be visiting the Amish Museum, eating at Shady Maple Restaurant, shopping in Amish Country, attending a show at the American Music Theater. Depart PA at 5:00pm.</p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-10 col-md-offset-1"> %>
          <%# <h2 class="text-center"> %>
            <%# Delmarva Shorebirds Baseball Game %>
          <%# </h2> %>

          <%# <p class='text-center'><a href='https://www.youtube.com/watch?v=CPw4C1xAkRU' target='_blank'>“Take Me Out to the Ballgame”</a> %>
            <%# <br/> %>
            <%# <br/> %>
          <%# <strong>Thursday, July 21</strong> %>
          <%# <br/> %>
          <%# <strong>Game begins 7:00 p.m. %>
          <%# <br/>Bus leaves K-Mart parking lot at 4:30 and returns about 10:30.</strong> %>
          <%# <br/> %>
          <%# <br/>This is your chance to see a favorite American sport. Watch the Delmarva Shorebirds play the Hickory Crawdads at Perdue Stadium in Salisbury, Maryland. Tickets available at church dinners. If you can't get to dinner, ask a friend to get a ticket for you.</br>If you have questions, email: <a href="mailto:mbgilly1@gmail.com">mbgilly1@gmail.com</a></p> %>
          <%# <form class="form-inline" action="/shorebirds" method="POST"> %>
            <%# <input type="email" class="form-control" id="email" name="email" placeholder="john.smith@gmail.com"> %>
            <%# <button type="submit" class="btn btn-default">Sign Up</button> %>
          <%# </form> %>
          <%# </br> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="birds1.png" alt="Washington, DC"> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="birds2.png" alt="Washington, DC"> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>

  <%# <section id="lunches" class="lunches-section"> %>
    <%# <div class="container"> %>
      <%# <div class="row"> %>
        <%# <div class="col-xs-12 col-md-10 col-md-offset-1"> %>
          <%# <h1 class="text-center">Free Lunches</h1> %>
          <%# <h3> %>
            <%# All students are invited to free Grab-And-Go lunches on %>
            <%# </br> %>
            <%# <strong>Friday, June 14 and Friday, July 19 from 11:30 a.m. to 1:30 p.m.</strong> %>
            <%# </br> %>
            <%# The lunch will be in a bag, ready for you to take back to work, to the beach, or wherever you want! %>
          <%# </h3> %>
          <%# </br> %>
          <%# <p> %>
          <%# Pick up your lunch at the Village Improvement Association clubhouse. %>
          <%# </br> %>
          <%# It is just off the boardwalk between Lake Avenue and Grenoble Place. It's a green building. The front faces the boardwalk, behind some tall grass, the back has a fenced in parking lot with an entrance door. This is at the north end of the boardwalk. %>
          <%# </p> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </section> %>

  <%# <section id="events" class="events-section"> %>
    <%# <div class="container"> %>
      <%# <div class="row"> %>
        <%# <div class="col-xs-12 col-md-10 col-md-offset-1"> %>
          <%# <h1 class="text-center"> %>
            <%# Events %>
          <%# </h1> %>
          <%# </br> %>
          <%# </br> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="ferry.jpg" alt="Ferry"> %>
            <%# <div class="caption"> %>
              <%# <h3>Take the Ferry to New Jersey</h3> %>
              <%# <h4>Cost: $12 Round Trip (must show DS2019 form)</h4> %>
              <%# <h4>Any day, June 1st - August 31st</h4> %>
              <%# <p> %>
              <%# A self guided day trip, any day from June 1 to August 31.  Bike or take the ferry shuttle bus to the Cape May/Lewes ferry in Lewes.  The ferry ride to Cape May is about 80 minutes.  Then you can bike or take the shuttle bus into Cape May, which is a cool little town and beach.  Take the ferry back in the evening and enjoy a beautiful sunset. %>
              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="exchange.jpg" alt="City Hall"> %>
            <%# <div class="caption"> %>
              <%# <h3>Exchange Day - Monday, August 5th</h3> %>
              <%# <h4>Time: 9:30am - 2:00pm</h4> %>
              <%# <p> %>
                <%# Join with students throughout the country who will be participating in Exchange Day in their local communities. We will meet at 9:30 a.m. at the Rehoboth Public Works Yard. This is located at the Rehoboth water tower, near the Coastal Highway bridge that crosses the canal. Please put 10 Lincoln Street, Rehoboth into your map app. The Public Works Yard is across the street from 10 Lincoln. After our project, we will go to City Hall for lunch with the mayor and other city officials and tour the new city hall. If you have a bike, you can ride from public works to city hall. If you don't have a bike, we will provide transportation to city hall. %>
              <%# </br> %>
              <%# <a href="https://www.eventbrite.com/e/exchange-day-tickets-65825693421" target="_blank">RSVP here</a> if you are interested! %>
              <%# </p> %>
            <%# </div> %>
          <%# </div> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
          <%# </br> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </section> %>

  <section id="bikes" class="bike-section">
    <div class="container">
      <div class="row">
        <%# <div class="col-xs-12 alert alert-warning" role="alert"> %>
          <%# <h4> %>
            <%# Please read the information under the Bike Program tab for suggestions on finding a bike, repairs, helmets and laws. %>
          <%# </h4> %>
        <%# </div> %>
        <div class="info col-xs-12">
          <h1>Bike Program</h1>
          <strong>FINDING A BIKE:</strong>
          <ul>
            <li>
              <p>
              The Delaware Department of Transportation (DelDOT) has many free bikes with proper lighting to loan students.
              </p>
            </li>
            <li>
              <p>
              Sign up to request a bicycle by filling out the <a href="#request">Registration/Bike Request Form</a> at the top of the website.
              </p>
            </li>
            <%# <li> %>
              <%# <p> %>
              <%# You will be required to attend one safety information session in order to receive a bicycle. We will schedule you for a safety session based on your arrival date. %>
              <%# </p> %>
            <%# </li> %>
            <li>
              <p>
              Please understand that we may have more students than bikes.
              </p>
            </li>
            <li>
              <p>
              If DelDOT is not able to provide you with a bike, we recommend shopping for one at WalMart, asking your landlord or employer if they have a bike for you, or contacting the local thrift shops to see if they have any bikes for sale. Also, consider using the bus.
              </p>
            </li>
          </ul>
          <strong>REPAIRS:</strong>
          <ul>
            <li>
              <p>
              Free repairs are available to all J1 students, even if you are not riding a DelDOT bike.
              </p>
            </li>
            <li>
              <p>
              Mechanics will be available to make repairs on Mondays and Fridays from 9 AM to 11 AM and  Wednesdays from 3 PM to 5 PM.
              </p>
            </li>
            <li>
              <p>
              All repairs will be made at the DelDOT Bicycle Garage which is located in the Rehoboth Park and Ride lot, located off Shuttle Road near the intersection of Coastal Highway and Rehoboth Avenue. Put Horizon Drive into your map app. Look for the DelDOT Bicycle Garage sign on the white barn in the corner.  There is an entrance to the Park and Ride lot off Shuttle Road for cars/bikes and entrances for pedestrians/bikes around the lot, including directly behind Fresh Market.
              </p>
            </li>
            <li>
              <p>
              If you cannot ride your bike, you can take it with you on the DART bus. DART buses go to the Rehoboth Park and Ride lot.
              </p>
            </li>
            <li>
              <p>
              If you cannot be at the repair garage when mechanics are working, you can lock your bike to the rack outside the DelDOT Bicycle Garage and send an email to bicycles4students@gmail.com   Give us the combination to your lock, a description of the bike, and tell us what's wrong with it.
              </p>
            </li>
            <li>
              <p>
              All bikes left must have a combination lock (not a key). We will email you when your bike is fixed and ready to be picked up.
              </p>
            </li>
          </ul>
          <strong>LOCKS:</strong>
          <p>
          Every year dozens of bikes are stolen. You will need to keep your bike locked at all times.
          </p>
          <strong>SAFETY:</strong>
          <p>
          Helmets are highly recommended and will be given to everyone who gets a bike from DelDOT. If you need a helmet, you can get a free one at the DelDOT Bicycle Garage during repair hours.
We cannot over emphasize the need to wear a helmet. Coastal Highway has a lot of traffic and a lot of drivers who are on vacation and not familiar with the area. Serious accidents happen every summer and a helmet could save your life.
          </p>
          <strong>BICYCLE LAWS:</strong>
          <p>
          A bicycle is a vehicle and bicyclists must obey the same laws as drivers of other vehicles. Delaware State law requires the following of all bicyclists:  Bicyclists must obey all traffic laws including stopping at red lights and stop signs, as well as yielding at yield signs and to pedestrians; A bicycle must have a headlight in front and rear red reflector or rear light if ridden in low light conditions. DelDOT bikes come with lights, and free lights will be given out at the DelDOT Bicycle Garage during repair hours. If you are stopped for riding a bike at night without lights, you will have to pay a fine. If you are riding on the street, you must ride on the right side of the street, in the same direction as traffic, not facing traffic. Bicycles are allowed to ride on the sidewalks on either side of Coastal Highway in the same direction as traffic (we do not recommend this), but bikes are not allowed on the sidewalks in the town of Rehoboth.
          </p>
          <%# <div class='youtube-wrapper'> %>
            <%# <iframe class='youtube' src="https://www.youtube.com/embed/QUqn4e255No"></iframe> %>
          <%# </div> %>
        </div>
        <%# <div class="col-xs-12 col-md-6"> %>
          <%# <div role="tabpanel"> %>
            <%# [> <ul class="nav nav-tabs" id="bike-forms" role="tablist"> <] %>
              <%# [> <li role="presentation" class="col-xs-6 active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab"><h2>Bike Wait List</h2></a></li> <] %>
              <%# [> <li role="presentation" class="col-xs-6 active"><a href="#repair" aria-controls="repair" role="tab" data-toggle="tab"><h2>Repairs</h2></a></li> <] %>
            <%# [> </ul> <] %>
            <%# <div class="tab-content"> %>

              <%# <div role="tabpanel" class="tab-pane active" id="repair"> %>
                <%# <h3>Please Fill Out This Repair Request Form</h3> %>
                <%# </br> %>
                <%# <form class="form-horizontal" id="repair-form" action="/repair_request" method="post"> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="name" class="col-sm-3 control-label">Name</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="name" placeholder="John" tabIndex="1"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="email" class="col-sm-3 control-label">Email</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="email" class="form-control" name="email" placeholder="john.smith@gmail.com" tabIndex="2"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="phone" class="col-sm-3 control-label">Phone</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="phone" placeholder="303-333-8747" tabIndex="3"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="bike_location" class="col-sm-3 control-label">Bike Location</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="bike_location" placeholder="123 Rehoboth Ave" tabIndex="4" required> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="bike_number" class="col-sm-3 control-label">DelDOT Number</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="bike_number" placeholder="DelDOT Sticker Number" tabIndex="4"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="lock_combo" class="col-sm-3 control-label">Lock Combo</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="lock_combo" placeholder="1-0-4-0" tabIndex="4"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <label for="problem" class="col-sm-3 control-label">Problem</label> %>
                    <%# <div class="col-sm-9"> %>
                      <%# <input type="text" class="form-control" name="problem" placeholder="Back tire is flat." tabIndex="5"> %>
                    <%# </div> %>
                  <%# </div> %>
                  <%# <div class="form-group"> %>
                    <%# <div class="col-sm-offset-2 col-sm-10"> %>
                      <%# <button type="submit" class="btn btn-default" tabIndex="9">Submit</button> %>
                    <%# </div> %>
                  <%# </div> %>
                <%# </form> %>
              <%# </div> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      </div>
    </div>
  </section>

</body>
