<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll logo" href="#page-top">J-1 Rehoboth</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#housing">Housing</a>
          </li>
          <li>
            <a class="page-scroll" href="#orientation">Orientation Program</a>
          </li>
          <li>
            <a class="page-scroll" href="#dinners">Free Dinners</a>
          </li>
          <li>
            <a class="page-scroll" href="#trips">Cultural Exchange Events & Trips</a>
          </li>
          <li>
            <a class="page-scroll" href="#bikes">Bikes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="intro" class="intro-section">
    <%# <div class="hero-image"></div> %>
    <div class="container">
      <div class="col-lg-12">
        <% @welcome_languages.each do |lang| %>
          <div class="welcome-text"><%= lang %></div>
        <% end %>
        <%# <div class="callout"> %>
          <%# <h4> %>
            <%# The Mayor of Rehoboth Beach welcomes you to Rehoboth and would like you to join him for a free lunch on  %>
            <%# <strong>June 11 at City Hall</strong>. %>
            <%# <br/> %>
            <%# <a href="mailto:j1rehoboth@gmail.com?Subject=Meet%20The%20Mayor" target="_top">Click here to send us an Email if you are interested</a> %>
          <%# </h4> %>
        <%# </div> %>
        <section class="slideshow">
          <div class="slides">
            <% for i in 1..5 do %>
              <div class="slide">
                <img src="Students<%=i%>.jpg"/>
              </div>
            <% end %>
          </div>
        </section>
        <div class="main-text">
          <p>
            <strong>THANK YOU</strong> for choosing Rehoboth Beach area for your work/travel program. You are sure to have an experience of a lifetime.
            <form class="form-inline" action="/newsletter" method="POST">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="John Smith">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="john.smith@gmail.com">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <br/>
This website will give you information about the International Student Outreach Program, which provides a welcome orientation session for all students, free dinners every Monday through Thursday, local cultural exchange opportunities and exciting trips planned just for you!
            <br/>
            <br/>
            The Delaware Department of Transportation has a limited number of free bicycles to give to students  who take the two-hour bicycle safety training session.
            <br/>
            <br/>
            Fill out and submit the request form by <a href="#bikes">clicking here</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="housing" class="housing-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
          <h1 class="text-center">Housing</h1>
          </br>
          <p>
            Rehoboth Beach, Dewey Beach and Lewes are very popular vacation destinations. Because of this, affordable, convenient housing is extremely difficult to find.  You must arrange your housing before arriving in the U.S.  Do not plan to find housing once you arrive.
            </br>
            Your sponsor organization will require you to give them your Rehoboth area address before you leave your home country. Ask your sponsor for housing help, ask your employer for help, check craigslist.com, the local paper (Cape Gazette) or contact a realtor.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="orientation" class="orientation-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <h1 class="text-center">Orientation and Welcome</h1>
          </br>
          <p>
            You are invited and encouraged to attend one of the Orientation and Welcome sessions as soon as you arrive in the Rehoboth area, preferably before you start working. There will be three orientations - please attend the one closest to your arrival date.
            </br>
            </br>
            Employers have been notified of these dates and have been asked not to schedule J1 students during orientations.  Dates and locations for the sessions are posted here.</br></br><b>Orientations will be from 2:00 – 4:00 p.m.</b></br></br> Please indicate which orientation you will be attending by clicking below the chosen date and entering your email address. The session will include information about transportation, personal safety, banking, applying for your social security card, exciting trips and cultural events planned for you, and important information you'll need during your stay. We will also have food and a chance for you to win a prize.
          </p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="text-center">Thursday, May 26</th>
            <th class="text-center">Wednesday, June 15</th>
            <th class="text-center">Wednesday, June 29</th>
          </tr>
          <tr>
            <td>
              <p>2:00 - 4:00 PM</p>
              <p>St. Edmond’s Catholic Church</br>
              409 King Charles Ave</br>
              <a target="_blank" href="https://maps.google.com/maps?daddr=409 King Charles Ave, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
              </p>
              <p>(302) 227 - 4550</p>
            </td>
            <td>
              <p>2:00 - 4:00 PM</p>
              <p>Lutheran Church of our Savior</br>
              20276 Bay Vista Rd </br>
              <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
              </p>
              <p>(302) 227 - 3066</p>
            </td>
            <td>
              <p>2:00 - 4:00 PM</p>
              <p>Lutheran Church of our Savior</br>
              20276 Bay Vista Rd </br>
              <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
              </p>
              <p>(302) 227 - 3066</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <div id="dinners" class="dinner-section">
    <h1>Free Dinners</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th style="width: 3%;">Friday</th>
          <th style="width: 3%;">Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr>
          <td>
            <p>6:00 - 7:30 PM</p>
            <p>New Covenant Church</br>
            3072 Savannah E Dr </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=3072 Savannah E Dr, Lewes, DE&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 644 - 6800</p>
            <p>(June 6 - Aug 29)</p>
          </td>
          <td>
            <p>5:30 - 7:30 PM</p>
            <p>Epworth United Methodist Church</br>
            19285 Holland Glade Road </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 7743</p>
            <p>(May 31 - Sept 6)</p>
          </td>
          <td>
            <p>5:30 - 7:30 PM </p>
            <p>St. Edmond’s Catholic Church</br>
            409 King Charles Ave</br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=409 King Charles Ave, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 4550</p>
            <p>(June 1 - Aug 31)</p>
          </td>
          <td>
            <p>5:30 - 7:30 PM</p>
            <p>Lutheran Church of our Savior</br>
            20276 Bay Vista Rd </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=20276 Bay Vista Rd, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 3066</p>
            <p>(June 2 - Sept 1)</p>
          </td>
          <td></td>
          <td></td>
          <td>
            <p>SOUP 2:00 - 4:00 PM</p>
            <p>Epworth United Methodist Church</br>
            19285 Holland Glade Road </br>
            <a target="_blank" href="https://maps.google.com/maps?daddr=19285 Holland Glade Road, Rehoboth Beach&hl=en&sll=40.02931,-105.239977&sspn=0.154578,0.257149&t=h&gl=us&mra=ls&z=16">Get Directions</a>
            </p>
            <p>(302) 227 - 7743</p>
            <p>(June 5 - Sept 4)</p>
          </td>
        </tr>
      </table>
    </div>
    <div id="map" style="width: 100%; height: 70%; max-height: 713px; position: absolute;">
       <div id="map-canvas"></div>
    </div>
  </div>

  <section id="trips" class="trip-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2 class="text-center">
            2016 International Student Outreach Program Annual Bus Trips
          </h2>

          <p>This year we are having two bus trips with the potential for a third based on student interest. The two scheduled are
          <br/>
          <strong>(1) July 13th to  our nation’s capital, Washington, D. C. </strong>
          <br/>
          <strong>(2) August 18th to  the historic area in Philadelphia, Pennsylvania.</strong>
          <br/>These trips provide a wonderful opportunity to learn about our history, visit interesting museums, and see unique architecture both old and new.  Each trip will take about 2 1/2 -3 hours by bus from the K Mart parking lot in Rehoboth to each  destination. <b>Bus will leave K Mart at 7:00 a.m. and return about 9:30 p.m.</b> Each trip will cost $30 and the fee is not refundable. Please set aside these dates in your schedule with your employers so you can get off work and attend these trips.  Tickets will be on sale at the church dinners. If you can't get to a dinner, ask a friend to buy one for you. </br> Get your tickets early, as space is limited. We look forward to your participation. </br>If you have questions, email: <a href="mailto:centralguy1229@gmail.com">centralguy1229@gmail.com</a></p>

        </div>
        <div class="col-xs-12 col-md-6">
          <div class="thumbnail">
            <img src="DC.png" alt="Washington, DC">
            <div class="caption">
              <h3>Washington, DC - July 13th</h3>
              <h4>Cost: $30</h4>
              <h4>Time: 7:00am - 9:30pm</h4>
              <%# <h4 style="color: #68B3AF">SOLD OUT - 98 students attended</h4> %>
              <p>
              On the trip to Washington, D.C, our bus(s) will drop students off at the National Mall.  This will provide an opportunity to walk to several wonderful free museums including: the National Museum of Natural History, the National Museum of American History, the National Air and Space Museum, the Smithsonian American Art Museum, the National Museum of the American Indian, the Hirshorn (Art) Museum, the National Portrait Gallery and American Art Museum.  It is also be possible  to walk near the following buildings and monuments:  the  U. S. Capitol, the Supreme Court, the Lincoln and Jefferson Memorials, and  the Washington Monument.  Public restrooms are available in most facilities and many have cafeterias where you can buy food and drinks.  Note that every public museum has security measures in place and bags and backpacks will be checked.
              <br/>
              <br/>
              Access map below using this <a href="https://www.nps.gov/nama/planyourvisit/upload/NAMAWayfindingMapLarge.pdf" target="_blank">link</a>.

              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="thumbnail">
            <img src="Philly.png" alt="Philadelphia">
            <div class="caption">
              <h3>Philadelphia, PA - August 18th</h3>
              <h4>Cost: $30</h4>
              <h4>Time: 7:00am - 9:30pm</h4>
              <%# <h4 style="color: #68B3AF">SOLD OUT - 98 students attended</h4> %>
              <p>
                On the trip to Philadelphia, our bus(s) will drop you off in the Independence National Historical Park.  This is considered the birthplace of our country and America’s most historic square mile.  Places to visit and enjoy include: Independence Hall, the Liberty Bell Center, the President’s House, the Independence Visitor Center, the Free Quaker Meeting House, the National Constitution Center, the Christ Church Burial Ground, the U. S. Mint.  Other places and facilities to enjoy include:  Society Hill and Penn’s Landing, the Franklin Institute, and the Philadelphia Museum of Art.
              <br/>
              <br/>
              Access map below included in brochure using this <a href="http://www.theconstitutional.com/sites/www.theconstitutional.com/files/ConstitutionalFull.pdf" target="_blank">link</a>.
              </p>
            </div>
          </div>
        </div>
        <%# <div class="col-xs-12 col-sm-6 col-md-4"> %>
          <%# <div class="thumbnail"> %>
            <%# <img src="lancaster.jpg" alt="Amish Country, PA"> %>
            <%# <div class="caption"> %>
              <%# <h3>PA Dutch Trip - August 20th</h3> %>
              <%# <h4>Cost: $50</h4> %>
              <%# <h4>Time: 6:00am - 7:30pm</h4> %>
              <%# <p>Details: Meeting at the K-Mart in Rehoboth and leaving at 6:00am. We will be visiting the Amish Museum, eating at Shady Maple Restaurant, shopping in Amish Country, attending a show at the American Music Theater. Depart PA at 5:00pm.</p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      </div>
    </div>
  </section>

  <section id="bikes" class="bike-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 alert alert-warning" role="alert">
          <strong>
            We have no more bikes to give away.
            Please fill out the Wait List form and we will let you know
            if we get more bikes.
            </br>
            If you have already submitted a bike request form, your name is on the bike list and we will be contacting you soon.
          </strong>
        </div>
        <div class="info col-xs-12 col-md-6">
          <h1>Bike Program</h1>
          <p>
          <strong>FINDING A BIKE:</strong> Check with your employer and landlord first. If they do not have a bike for you, the Delaware Department of Transportation (DelDOT) has 150 free bikes with proper lighting to loan students. Sign up to request a bicycle by filling out the <a href="#bikes">Bike Request Form</a>. You will be required to attend one safety information session in order to receive a bicycle. We will schedule you for a safety session and a bike when you fill out the form. Please understand that we will have more students than bikes. If DelDOT is not able to provide you with a bike, we recommend shopping for one at K-Mart, WalMart, or contacting the local thrift shops to see if they have any bikes for sale.
          </p>
          <p>
          <strong>REPAIRS:</strong> Bicycle mechanics are usually available at the church dinners to repair all student bikes, or you can arrange for a repair by filling out the <a href="#bikes">Bike Repair Request form</a>.
          </p>
          <p>
            <strong>LOCKS:</strong>  In order to get a free bike loaned to you, you must bring a bicycle lock with you to the safety session. Locks can be purchased at K-Mart or WalMart. DelDOT will try to have some locks for sale at the safety session, but purchasing one on your own is best. You must keep your bike locked at all times. Every year bikes are stolen. Don't lose yours!
          </p>
          <p>
          <strong>SAFETY:</strong>  Helmets are highly recommended and will be given to everyone who gets a bike from DelDOT. Delaware offers free Bicycle Safety Checkpoints throughout the summer and free helmets are available at the checkpoints. <a href="2016_Bicycle_Safety_Checkpoint_Schedule.pdf">Click here to view 2016 Bicycle Safety Checkpoints</a>. If you need a helmet, please email <a href="mailto:bicycles4students@gmail.com">bicycles4students@gmail.com</a> and we will get one for you. We cannot over emphasize the need to wear a helmet. Coastal Highway has a lot of traffic and a lot of drivers who are on vacation and not familiar with the area. Serious accidents happen every summer and a helmet could save your life.
          </p>
          <p>
            <strong>BICYCLE LAWS:</strong> A bicycle is a vehicle and bicyclists must obey the same laws as drivers of other vehicles. Delaware State law requires the following of all bicyclists:  Bicyclists must obey all traffic laws including stopping at red lights and stop signs, as well as yielding at yield signs and to pedestrians; A bicycle must have a headlight in front and rear red reflector or rear light if ridden in low light conditions. DelDOT bikes come with lights, and free lights will be given out at some church dinners and the Bicycle Safety Checkpoints mentioned above. If you are stopped for riding a bike at night without lights, you will have to pay a fine. If you are riding on the street, you must ride on the right side of the street, in the same direction as traffic, not facing traffic. Bicycles are encouraged to ride on the sidewalks on either side of Coastal Highway, but bikes are not allowed on the sidewalks in the town of Rehoboth.
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div role="tabpanel">
            <ul class="nav nav-tabs" id="bike-forms" role="tablist">
              <li role="presentation" class="col-xs-6 active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab"><h2>Bike Wait List</h2></a></li>
              <li role="presentation" class="col-xs-6"><a href="#repair" aria-controls="repair" role="tab" data-toggle="tab"><h2>Repairs</h2></a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="request">
                </br>
                <p>Please complete this form and submit. We will be in touch with you to schedule your required safety training class. You must have housing before arriving in Rehoboth, so please include your local address.</p>
                </br>
                <form class="form-horizontal" id="request-form" action="/bike_request" method="post" data-toggle='validator'>
                  <div class="form-group">
                    <label for="first_name" class="col-sm-2 control-label" required>First</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="first_name" placeholder="John" tabIndex="1">
                    </div>
                    <label for="last_name" class="col-sm-2 control-label">Last</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="last_name" placeholder="Smith" tabIndex="2">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="email" placeholder="john.smith@gmail.com" tabIndex="3">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="arrival_date" class="col-sm-2 control-label">Arrival</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="arrival_date" placeholder="June 1, 2016" tabIndex="4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="employer" class="col-sm-2 control-label">Employer</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="employer" placeholder="Cold Stone Creamery" tabIndex="7">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="address" placeholder="Your local address in Rehoboth" tabIndex="5" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="country" placeholder="Your home country" tabIndex="5">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default" tabIndex="9">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="repair">
                <h3>Please Fill Out This Repair Request Form</h3>
                </br>
                <form class="form-horizontal" id="repair-form" action="/repair_request" method="post">
                  <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="name" placeholder="John" tabIndex="1">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email" placeholder="john.smith@gmail.com" tabIndex="2">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="phone" placeholder="303-333-8747" tabIndex="3">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bike_location" class="col-sm-3 control-label">Bike Location</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="bike_location" placeholder="123 Rehoboth Ave" tabIndex="4" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bike_number" class="col-sm-3 control-label">DelDOT Number</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="bike_number" placeholder="DelDOT Sticker Number" tabIndex="4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lock_combo" class="col-sm-3 control-label">Lock Combo</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="lock_combo" placeholder="1-0-4-0" tabIndex="4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="problem" class="col-sm-3 control-label">Problem</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="problem" placeholder="Back tire is flat." tabIndex="5">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default" tabIndex="9">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
