<%# <h1 style='text-align: center; top: 50%;'>Site is offline for the winter. Please check back in the spring.</h1> %>
</br></br>
<h1 style='text-align: center; top: 50%;'>
  Dear Students, We are very sorry that our volunteers will not be able to provide you with free dinners, bus trips or assistance this summer. We were hoping the pandemic would be completely under control by summer 2021 but that is unlikely.
  </br>
  </br>
  The bike program offered by the Delaware Department of Transportation is hoping to offer free bikes and free repairs to students this summer.  Please check this website often as we will post sign up information when it is available.
</h1>
