<%# <h1 style='text-align: center; top: 50%;'>Site is offline for the winter. Please check back in the spring.</h1> %>
</br></br>
<h1 style='text-align: center; top: 50%;'>Dear Students, We are very sorry that our ISOP volunteers will not be able to provide you with trips, bikes, repairs, free dinners or assistance this summer due to the coronavirus. Sussex County DE is a hotspot for the virus and cases are expected to peak in August.  Stay safe and we look forward to seeing you in 2021!</h1>
