@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrollin-nav";

@import url(https://fonts.googleapis.com/css?family=Special+Elite);

.main-container {
  background-color: #D3E2B6;
}

.logo {
  color: #D3E2B6 !important;
  font-size: 2em;
  font-family: 'Special Elite', cursive;
  @media (max-width: 350px) {
    font-size: 1.5em;
  }
}
