@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrollin-nav";
@import "slideshow";

@import url(https://fonts.googleapis.com/css?family=Special+Elite);

.main-container {
  background-color: #D3E2B6;
}

.logo {
  color: #D3E2B6 !important;
  font-size: 3em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  @media (max-width: 350px) {
    font-size: 1.5em;
  }
}

.intro-section {
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url('../rehoboth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    @media (max-width: 770px) {
      background: none;
    }
  }
}

.welcome-text {
  margin: 1.25% 1%;
  display: inline-block;
  font-weight: bolder;
  font-size: 2em;
  color: #F07818;
  @media (max-width: 770px) {
    font-size: 1.5em;
  }
}

.main-text {
  font-size: 1.4em;
  strong {
    color: #F07818;
  }
  a {
    font-weight: bold;
    color: #F07818;
  }
}
