@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrollin-nav";
@import "slideshow";

@import url(https://fonts.googleapis.com/css?family=Special+Elite);

a {
  font-weight: bolder;
  color: $rose;
  &:hover {
    color: $primary-teal;
  }
  &:visited, &:active {
    color: $rose;
  }
}

.main-container {
  background-color: #D3E2B6;
}

.logo {
  color: #D3E2B6 !important;
  font-size: 3em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  @media (max-width: 350px) {
    font-size: 1.5em;
    display: block;
  }
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: block;
  }
}

#map-canvas { height: 100%; width: 100%; margin: 0; padding: 0;}

.intro-section {
  .isop_logo {
    margin: 0 auto;
    height: 300px;
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url('../rehoboth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    @media (max-width: 770px) {
      background: none;
    }
  }

  .callout {
    width: 100%;
    padding: 10px;
    background-color: #D3E2B6;
    margin: 1% 0;
  }
}

.welcome-text {
  margin: 1.25% 1%;
  display: inline-block;
  font-weight: bolder;
  font-size: 2em;
  color: $orange;
  @media (max-width: 770px) {
    font-size: 1.5em;
  }
}

.main-text {
  font-size: 1.4em;
  @media (max-width: 770px) {
    margin-top: 20px;
  }
  strong {
    color: $orange;
  }
}

table.table-bordered {
  margin: 0 5%;
  width: 90%;
  th {
    text-align: center;
  }
}

#housing, #orientation, #trips {
  font-size: 1.4em;
}

.thumbnail {
  img {
    height: 500px;
    @media (max-width: 770px) {
      display: none;
    }
  }
  p {
    font-size: .80em
  }
}
