$primary-teal: #68B3AF;
$orange: #F07818;
$rose: #FF4D5E;

body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
  color: $rose;
}

.navbar-nav > .active > a {
  background-color: #87BDB1 !important;
}

.navbar {
  border: none !important;
  background-color: $primary-teal;
}

@media (min-width:767px) {
    .navbar {
      padding: 20px 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    min-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background: #D3E2B6;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.housing-section {
    min-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background: #fff;
    padding: 100px 0;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.orientation-section {
    min-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background: #eee;
    padding: 100px 0;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.dinner-section {
    min-height: 1045px;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    a:hover {
      color: $primary-teal;
    }
    h1 {
      margin: 1% 0;
    }
}

.take_home-section {
    min-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background: #eee;
    padding: 100px 0;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.transportation-section {
    min-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background: #fff;
    padding: 100px 0;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.trip-section {
    min-height: 50%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    @media (max-width: 770px) {
      padding: 75px 0;
    }
}

.bike-section {
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    .info {
      text-align: left;
    }
    h1 {
      text-align: center;
    }
}
